.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading-animation__spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: loading-spinner 0.8s infinite linear;
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}
