@import '../../../assets/styles/app.scss';

.item-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 30px;
  button {
    background-color: transparent;
    color: $text-2c3940;
    border: none;
    padding: 15px 20px;
    border-radius: 16px;
    max-height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid $border-faebb2;
    transition: background-color 0.3s;
    color: $text-2c3940;
    font-weight: 600;
    font-size: 14px;
    &:hover {
      background-color: $background-666568;
      color: #ffffff;
    }
  }
}
