@import '../../../assets/styles/app.scss';

.filter {
  margin-bottom: 30px;
  display: inline-block;
  border: 2px solid $border-f9d85f;
  width: auto;
  border-radius: 12px;
  overflow: hidden;
  @include responsive(500px) {
    width: 100%;
  }
  &__list {
    display: flex;
    align-items: center;

    @include responsive(500px) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__button {
    font-size: 14px;
    color: $text-8d989d;
    font-weight: 500;
    padding: 15px 20px;
    max-height: 45px;
    border-right: 2px solid $border-f9d85f !important;
    min-width: 60px;
    cursor: pointer;
    @include responsive(500px) {
      width: 100% !important;
      border-right: none !important;
      border-bottom: 2px solid $border-f9d85f !important;
      &:last-child {
        border-bottom: none !important;
      }
    }

    &:last-child {
      border-right: none !important;
    }

    &--active {
      background-color: $border-f9d85f !important;
      font-weight: 600;
      color: $text-2c3940 !important;
    }

    &:hover {
      background-color: $border-f9d85f !important;
      // color: #ffffff !important;
      @include responsive(1024px) {
        background-color: $border-f9d85f !important;
        color: $text-2c3940 !important;
      }
    }
  }
}
