@import '../../assets/styles/app.scss';
@import '../../assets/styles/scss/mixins';

.footer {
  background-color: $color-414141;
  max-height: 128px;
  padding: 56px 0;
  @include responsive(768px) {
    padding: 16px 16px 100px;
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
    @include responsive(768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    @include responsive(768px) {
      min-height: 40px;
    }
    a {
      font-size: $font-11;
      font-weight: $font-weight-light;
      font-family: 'Hiragino Kaku Gothic Pro' !important;
      color: $white;
      text-decoration: none;
      margin-right: 45px;
    }
  }
}
