/*
* VARIABLES COLORS
*/
$bg-color: #f7f8fa;
$primary-color: #000000;
$secondary-color: #2b76ff;

// Background
$background-f7f8fa: #f7f8fa;
$background-666568: #666568;
$background-e9eaee: #e9eaee;

// Border
$border-f6f7f8: #f6f7f8;
$border-f9d85f: #f9d85f;
// $border-faebb2: #faebb2;

// Text
$text-828b90: #828b90;
$text-fbdac3: #fbdac3;
$text-2c3940: #2c3940;
$text-8d989d: #8d989d;
$text-66ceb1: #66ceb1;
$text-4b5862: #4b5862;

// Promotion
$promotion-ff686f: #ff686f;
$promotion-01b0fe: #01b0fe;
$promotion-8f64fe: #8f64fe;

/*
* VARIABLES FONTS
*/
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-25: 25px;
$font-32: 32px;
$font-40: 40px;
$font-44: 44px;
$font-52: 52px;
$font-56: 56px;
$font-60: 60px;
$font-72: 72px;

/*
  * VARIABLES FONT-WEIGHT
  */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
